<!DOCTYPE html>
<html lang="{{ site.Language.Locale | default "en" }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <a class="skip-link" href="#main">{{ i18n "skipToContent" }}</a>
  {{ partial "header.html" . }}
  <main id="main" class="site-main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
</body>
</html>
