{{ define "main" }}
<div class="wrap">
  <header class="page-head">
    <h1 class="page-title">{{ i18n "browseByTag" }}</h1>
    <p class="page-sub">{{ i18n "tagCloudSub" }}</p>
  </header>
  <div class="tag-cloud">
    {{- range .Data.Terms.ByCount }}
      {{ partial "tag-pill.html" (dict "name" .Name "url" .Page.RelPermalink "count" .Count "class" "pill--lg") }}
    {{- end }}
  </div>
  {{- range .Data.Terms.ByCount }}
  <section class="term-group">
    <div class="term-group-head">
      <a class="term-group-name" href="{{ .Page.RelPermalink }}">#{{ .Name }}</a>
      <span class="term-group-rule" aria-hidden="true"></span>
    </div>
    {{- range first 5 .Pages }}
    <div class="term-row">
      <time class="term-row-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format (i18n "dateShortPadded") }}</time>
      <a class="term-row-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{- end }}
    {{- if gt (len .Pages) 5 }}
    <p class="term-group-more"><a href="{{ .Page.RelPermalink }}">{{ i18n "allNPosts" (len .Pages) }}</a></p>
    {{- end }}
  </section>
  {{- end }}
</div>
{{ end }}
